/* Resets default values and sets font family for all elements */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Coronetscript;

}

/* Sets the background color for the body */

body {
    background-color: #fefefe;

}

/* Hides horizontal scrollbar for body and html */
body,
html {
    overflow-x: hidden;
}

/* Defines styles for the header element */
header {
    width: 100%;
    height: 90px;
    background: #222629;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

/* Defines styles for the logo image in the header */
img.home-logo-img {
    width: 80px;
    height: 80px;
    padding: 10px 0px 10px 0px;
    margin-right: 5px;
}


/* Defines styles for the logo text in the header */
.homeLogo {
    color: #fefefe;
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 100px;
}

/* Hides the navigation bar line by default */
.mainLine {
    display: none;
}

/* Defines styles for the navigation bar list items */
.navigation-bar ul {
    display: flex;
}

/* Defines styles for the navigation bar list item links */
.navigation-bar ul li a {
    color: #61892F;
    font-size: 16px;
    font-weight: bold;
    font-style: uppercase;
    padding: 7px 13px;
    border-radius: 40px;
    display: block;
    transition: 0.2s;
    margin: 0 10px;
}

/*  Defines styles for the active and hover navigation bar links */
a.activeTab,
a:hover {
    background: #c1df9b;
    transition: .5s;
}

/* Media query styles for screens up to 1320px wide */
@media only screen and (max-width : 1320px) {
    header {
        padding: 0 50px;
    }
}

/* Media query styles for screens up to 1100px wide */
@media only screen and (max-width : 1100px) {
    header {
        padding: 0 30px;
    }
}

/* Media query styles for screens up to 900px wide */
@media only screen and (max-width : 900px) {

    /* Sets background image for body */
    body {
        background-image: url('images/Raquet.jpg');
        background-size: cover;

    }

    /* Displays the navigation bar line and sets its styles */
    .mainLine {
        display: block;
        cursor: pointer;
    }

    .mainLine .line {
        height: 3px;
        background: gray;
        margin: 6px 0;
        width: 30px;
    }

    /* Defines styles for the navigation bar */
    .navigation-bar {
        height: 0;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #474b4f;
        transition: 0.5s;
        overflow: hidden;

    }

    .navigation-bar.active {
        height: 550px;
    }

    .navigation-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navigation-bar.active ul {
        opacity: 1;
    }

    .navigation-bar ul li a {
        margin-bottom: 13px;
        font-size: 20px;
        color: #61892F;
    }

    .home-page-div1 {
        display: none;
    }

    .home-page-plain-text {
        display: none;
    }

    section {
        display: none;
    }

    .tabletennis{
        display: none;
    }
    .imageGallery{
        display: none;
    }
    .sitemap-main{
        display: none;
    }
    .home-footer{
        display: none;
    }

}

.home-footer {
    padding-top: 15px;
    width: 100%;
    height: 100px;
    background-color: #222629;
    color: #fefefe;
    margin-bottom: 10;
}

.home-footer a {
    color: #c1df9b;
    padding-top: 5px;
    font-size: 20px;

}

.home-footer a:hover {
    color: white;
    padding-top: 5px;
    font-size: 20px;

}

.home-footer ul {
    display: flex;
}

.home-footer li {
    padding-left: 215px;
    padding-top: 20px;
    font-size: 15px;
}